#botones{
    background: rgb(104, 205, 245); 
    font-size: 16px; 
    padding: 7px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    transition: all 0.5s;
}

#botones:hover{
    background: rgb(25, 148, 248); 
    cursor:pointer;
    padding: 7px;
}