#botones{
    background: rgb(104, 205, 245); 
    font-size: 16px; 
    padding: 7px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    transition: all 0.5s;
}

#botones:hover{
    background: rgb(25, 148, 248); 
    cursor:pointer;
    padding: 7px;
}

@media (max-width: 700px){
    .mostrarCriterioTres{
        width: 86vw;
    }
}

@media (max-width: 575px){
    .mostrarCriterioTres{
        width: 83vw;
    }
}

@media (max-width: 450px){
    .mostrarCriterioTres{
        width: 81vw;
    }
}

@media (max-width: 400px){
    .mostrarCriterioTres{
        width: 79vw;
    }
}

@media (max-width: 350px){
    .mostrarCriterioTres{
        width: 76vw;
    }
}

@media (max-width: 315px){
    .mostrarCriterioTres{
        width: 74vw;
    }
}