#botones{
    background: rgb(152, 233, 121); 
    font-size: 16px; 
    padding: 7px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    transition: all 0.5s;
}

#botones:hover{
    background: rgb(49, 134, 15);
    cursor:pointer;
    padding: 7px;
}

@media (max-widith: 450px){
    
}