#contenedorPrincipal{
    -webkit-box-shadow: 29px 13px 61px -14px rgba(40,167,69,1);
    -moz-box-shadow: 29px 13px 61px -14px rgba(40,167,69,1);
    box-shadow: 29px 13px 61px -14px rgba(40,167,69,1);
    background: rgba(217, 230, 230, 0.712);
}

#edit{
    transition: all 1s;
    font-size: 18px;
}

#edit:hover span{
    color: white;
}

.navegacion a{
    transition: all 0.5s;
}

.navegacion:hover a{
    color: rgb(222, 238, 131);
    font-size: 25px;
}

@media (min-width: 1300px){
    .contenedor1{
        width: 70%;
    }
}

@media (max-width: 865px){
    .logoAplicacion img{
        width: 260px;
    }
}

@media (max-width: 700px){
    .mostrarCriterioUno{
        width: 94vw;
    }
    
    .contenedor1{
        width: 98vw;
    }
}

@media (max-width: 575px){
    .mostrarCriterioUno{
        width: 93vw;
    }
    
    .contenedorDecisiones{
        flex-direction: column;
    }

    .nombreDesicion{
        width: 100%;
        padding: 4px;
    }
    
    .descripcionDesicion{
        width: 100%;
        margin-top: 5px;
        padding: 4px;
    }
}

@media (max-width: 450px){
    .mostrarCriterioUno{
        width: 92vw;
    }
}

@media (max-width: 400px){
    .tituloDecision{
        font-size: 21px;
    }

    .mostrarCriterioUno{
        width: 91vw;
    }
}

@media (max-width: 350px){
    .mostrarCriterioUno{
        width: 90vw;
    }
}

@media (max-width: 315px){
    .mostrarCriterioUno{
        width: 89vw;
    }

    .logoAplicacion img{
        width: 230px;
    }
}










