<div class="container-fluid">
    <div class="row mt-2">
      <div class="col">
         <ul class="list-group mt-2">
            <li *ngFor="let criter of arrayCriterios" class="list-group-item list-group-item-action">
                <span class="float-left" (click)="mostrarCriterio(criter)" *ngIf="arrayCriterios.length !== 0" style="color: red;">
                  Nivel 1 - criterio {{criter.id}}: 
                </span>  

                <span class="float-left" *ngIf="arrayCriterios.length === 0" data-toggle="modal" data-target="#llamarCriterio" id="decisionPrincipal">
                  {{criter.nombreCriterio}} - {{criter.peso}}
                </span>
                
                <div class="tamanoBotones">
                  <span (click)="eliminarCriterio()" *ngIf="criter.id == arrayCriterios.length"  id="botones" class="float-right ml-3"> - </span>
                  <span (click)="agregarCriterio()" *ngIf="criter.id == arrayCriterios.length" id="botones" class="float-right"> + </span>
                </div>
                
                <span (click)="mostrarCriterio(criter)" *ngIf="arrayCriterios.length !== 0" id="decisionPrincipal" > 
                  {{criter.nombreCriterio}} - {{criter.peso}}
                </span>

                <app-criterio-dos *ngIf="criter == numeroCriterio && mostrar2 == true"></app-criterio-dos>
            </li>
          </ul>
      </div>
    </div>
  </div>