
<div class="modal fade" id="llamarCriterio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h5 class="modal-title text-light" id="exampleModalLabel">Nuevo criterio</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Nombre del criterio</label>
              <input type="text" class="form-control" id="recipient-name" >
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Peso del criterio:</label>
              <select name="peso" id="peso" class="form-control">
                  <option value="10">0.1</option>
                  <option value="20">0.2</option>
                  <option value="30">0.3</option>
                  <option value="40">0.4</option>
                  <option value="50">0.5</option>
                  <option value="60">0.6</option>
                  <option value="70">0.7</option>
                  <option value="80">0.8</option>
                  <option value="90">0.9</option>
                  <option value="100">1.0</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer bg-dark">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" data-dismiss="modal" class="btn btn-primary">Agregar Criterio</button>
        </div>
      </div>
    </div>
  </div>