#botones{
    background: rgb(240, 147, 147); 
    font-size: 16px; 
    padding: 7px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    transition: all 0.5s;
}

#botones:hover{
    background: rgb(243, 99, 99); 
    cursor:pointer;
    padding: 7px;
}

@media (max-width: 700px){
    .mostrarCriterioDos{
        width: 90vw;
    }
}

@media (max-width: 575px){
    .mostrarCriterioDos{
        width: 88vw;
    }
}

@media (max-width: 450px){
    .mostrarCriterioDos{
        width: 87vw;
    }
}

@media (max-width: 400px){
    .mostrarCriterioDos{
        width: 85vw;
    }
}

@media (max-width: 350px){
    .mostrarCriterioDos{
        width: 83vw;
    }
}

@media (max-width: 315px){
    .mostrarCriterioDos{
        width: 81vw;
    }
}




